.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    height: auto;
    color: white;
}

.filterPanel {
    background-color: rgba(0, 0, 0,0.8);
    width: 20%;
    height: 100%;
    width: 300px;
    position: fixed;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.rightPanel {
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 300px;
    height: 80px;
    display: flex;
    z-index: 200;
}

.welcomeLogout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-family: cursive;
    width: 100%;
}

.welcomeLogout button {
    background: none;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
}

.welcomeLogout button img {
    height: auto;
    width: 30px;
}

.filtersDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.notesContainer {
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit,390px);
    margin: 10px auto;
    margin-left: 450px;
    margin-top: 50px;
    justify-content: center;
    max-width: 1170px;
    height: auto;
    min-height: 100vh;
}

.newNoteButton{
    display: flex;
    justify-content: space-between;
    width: 93%;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: cursive;
    font-size: 20px;
    margin-top: 230px;
    margin-bottom: 100px;
    font-weight: bold;
}
  

.newNoteButton img {
    width: 100px; 
    height: auto;
    margin: 0 5px; 
}

.newNoteButton:focus, .newNoteButton:active {
    outline: none;
  }

.selectSection {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 170px;
    font-family: cursive;
    font-size: 18px;
    margin-bottom: 40px;
}

.select {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
    /* background-color: #f0ed46; */
    background-color: rgb(255, 225, 128);
    box-shadow: 0 0 5px rgb(255, 225, 128);
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding-bottom: 4px;
    cursor: pointer;
}

.select:focus {
    outline: none;
}

.spanSelect {
    display: flex;
    flex-direction: column;
}

.spanSelect span {
    margin-bottom: 10px;
}

.noNotesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.noNotes {
    width: 340px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    text-align: left;
    box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.87);
    position: relative;
    font-family: cursive;
    font-weight:600;
    font-size: 24px
}

.title {
    margin: 30px 0px;
    font-weight:600;
    font-size: 24px
}